version: "2"

services:
  teamspeak:
    image: sebreiro/docker-teamspeak:3.5.1
    container_name: teamspeak
    restart: unless-stopped
    environment:
     - TS3_MARIADB_DB=teamspeak
     - TS3_MARIADB_USER=admin
     - TS3_MARIADB_PASS=password
     - TS3_MARIADB_HOST=db
     - TS3_MARIADB_PORT=3306
     - DB_CLIENT_KEEP_DAYS=90
     - LOG_APPEND=1     
    volumes:
       - /teamspeak/teamspeak/logs:/teamspeak/logs
       - /teamspeak/teamspeak/files:/teamspeak/files
    ports:
      - 9987:9987/udp
      - 30033:30033
      - 10011:10011
    networks:
      - default
    depends_on:
      - db
      
  db:
    image: mariadb:5
    container_name: teamspeak_mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=teamspeak
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=password
    volumes: 
      - /teamspeak/mysql:/var/lib/mysql
    networks:
      - default
    
networks:
  default:
    driver: bridge
